@charset "UTF-8";

:root{
	--base-text-color:#333;
	--base-bg-color:#f1f1f1;
}
*{
	margin:0;
	padding:0;
}
body{
	font:16px/1.6 "Noto Sans KR", sans-serif;
	color:#333;
}
ul{
	list-style: none;
}
.d-none{
	display: none;
}
a, a:link{
	text-decoration: none;
	color:var(--base-text-color);
}

/*-------bxslider----------*/
.bx-wrapper{
	border:0;
	margin-top:60px;
}
.bx-wrapper .bx-prev {
    left: 10px;
    background: url('../images/custom.png') 0 -32px no-repeat;
}
.bx-wrapper .bx-next {
    right: 10px;
    background: url('../images/custom.png') -43px -32px no-repeat;
}

/*----------Header----------*/
header{
	position: fixed;
	left:0;
	top:0;
	width:100vw;		/* 100%와 같은 비율, 공간을 100개로 조각낸 비율 */
	z-index: 10000;
	background: white;
}
.header-wrap{
	max-width:90%;
	height:60px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#gnb, .items{
	display: flex;
	column-gap: 1rem;
}
/*
#imgs img{
	position: absolute;
}
*/

/*----------recommend----------*/
.recommend{
	max-width:1280px;
	margin:0 auto;
}
.reco_title{
	text-align: center;
	margin:1.5em 0 1.2em 0;
	font-weight: 500;
}
.reco-list{
	display: flex;
	column-gap: 1em;
}
.reco-list img{
	width:213px;
}
.desc{
	margin:1em 0;
	font-size:13px;
	color:rgb(51, 51, 51);
	font-weight: normal;
}
.price{
	color:rgb(200, 10, 30);
	font-size:12px;
}

/*-----promotion-----*/
.promotion{
	max-width:1280px;
	margin:2em auto;
	overflow: hidden;
}
.event-banner{
	margin-bottom:2em;
}
.event-banner img{
	max-width:100%;
}
.promotion-list{
	display: flex;
	column-gap: 2em;
}
.promotion-list img{
	object-fit:cover;
	max-width:100%;
	transition:all 0.7s ease-in-out;
}
.promotion-list li{
	overflow: hidden;
}
.promotion-list li:hover img{
	transform:scale(1.05);
}

/*----------special----------*/
.special-title-bg{
	background-color: #f0f0f0;
}
.special-title{
	max-width:1280px;
	margin:0 auto;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.special-title p{
	display: flex;
	align-items: center;
}
.special-title p::before{
	content: '';
	display:inline-block;
	width:172px;
	height:32px;
	margin-right:1em;
	background: url(../images/logo_myiloomlf.svg) no-repeat center/cover;
}
.special-title a{
	margin-left:3em;
}
.special-list{
	max-width:1280px;
	margin:100px  auto 6050;
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;	/* repeat(4,1fr) fraction : 전체 공간의 합을 비율로 표현 */
	grid-template-rows:600px 150px;
	column-gap: 1rem;
}
.attach-img{
	height:216px;
	border-radius: 20px;
	overflow: hidden;
}
.relate-item{
	display: flex;
	justify-content: space-between;
	margin:1em 0 0 0;
}
.relate-item::before{
	content: '';
	border-top: 1px dashed gray;
	width:100%;
	display: block;
}
.rank-point{
	color:#c10000;
	font-size: 1.250em;
	letter-spacing: 3px;
	margin:.5em 0;		/* em, rem */
}
.write-title{
	font-size: 1em;
	font-weight: 800;
}
.write-body{
	font-size: .875em;
	text-overflow: ellipsis;		/* overflow되면 ...으로 처리 */
	overflow:hidden;
	word-break:break-word;			/* 줄 바꿈없이 */
	
	display: -webkit-box;			/* vendor prefix : 표준 속성이 아닐때 다른 브라우저가 지원할수 있는 접두어 추가 */
	-webkit-line-clamp: 2;			/* 원하는 라인 수 */
	-webkit-box-orient:vertical;
}
.item-image{
	border-radius: 50%;
	overflow: hidden;
	width:100px;
	height: 100px;
}
.like-item:after{
	content: '🧡';
	display: inline-block;
	width:16px;
	height:16px;
	background: url("../images/icon_likeHrt.svg");
}
.item-title{
	text-overflow: ellipsis;
	white-space:nowrap;
	width:5em;
	overflow: hidden;
}
.item-location, .item-price{
	font-size: .725em;
	color:gray;
}

/*----------sns----------*/
aside{
	background:  #e0e0e0;
}
.sns{
	max-width: 1280px;
	margin:0 auto;
}
.sns p{
	text-align: center;
}
.sns-post{
	display: flex;		/* display:grid */
}
.sns p:nth-child(1){
	font-size: 1.750em;
	text-transform: uppercase;
	margin:1em 0;
}
.sns p:nth-child(2){
	font-size: 1.250em;
}















































































































































